*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom,#83B4FF,#FDFFE2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-size: 50px;
    margin-bottom: 30px;
    color: transparent;
    background: linear-gradient(to left, #000000, #0061fd);
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    font-weight: 600;
}

form{
    width: 500px;
    padding: 30px 50px 30px 30px;
    /* height: 400px; */
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.question{
    font-size: 25px;
    margin: 20px 0;
    line-height: 1.3;
}
.answer-group{
    display: flex;
    font-size: 20px;
    justify-content: space-around;
}
input[type="radio"]{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.comment{
    width: 100%;
    margin-top: 30px;
    padding: 15px 20px;
}
.button{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 60px;
}
.button button{
    padding: 10px 20px;
    background-color: #de3939;
    color: #fff;
    text-transform: uppercase;

}